import React from 'react';

type {{pascalCase componentName}}Props = {
  // define your props here
}

const {{pascalCase componentName}}: React.FC<{{pascalCase componentName}}Props> = (props) => {
  return (
    <div data-testid="{{pascalCase componentName}}" {...props}>
      {{pascalCase componentName}} component
    </div>
  );
};

export default {{pascalCase componentName}};
